.keyword{
	position: relative;
}

.keyword .links{
	position: absolute;
	right: 5px;
	top:0;
}
.keyword a{
	margin: 0 5px;
	text-decoration: none;
	color: #222222;
}
.best-position{
	position: relative;
}
.best-position .badge{
	cursor: pointer;
}
.best-position .bp-date{
	position: absolute;
	right: 10px;
	top:0;
	display: none;
}

.best-position .badge:hover + div{
	display: block;
}

div.errorMessage {
	color: #b94a48;
}